@model Book

    <h1 class="col-lg-12">  Szczegóły</h1>
<div class="col-lg-6">
    <div class="thumbnail">
        <div class="caption-full">
            <h3>@Model.Title</h3>
            <h5>@Model.Author</h5>
            <div>@Model.ISBN</div>
            <div>@Model.Customer</div>
            <div>@Model.isBorrowed</div>
        </div>
    </div>
</div>
    
